* {
	color: #191923;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
#languages,
#projects,
#resume,
div.container {
  text-align: center;
}
body {
	background-color: #FBFEF9;
}

img {
	position: rel;
}

table {
	display: inline-block;
	 object-position: 5px 10%;
	 margin-left: 75px;
}

table, th, td {
	border: 1px solid #0E79B2;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
}

#languages,
#resume{
	margin-bottom: 100px;
}

.wrapper {
  display: grid;
  align-content: right;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  width:20%;
}

#aboutMe {
	display: block;
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
	border: 3px solid #0E79B2;
	border-radius: 25px;
	font: large;
}

#Projects,
#resume {
	margin-bottom: 50px;
	margin-top: 100px;
}

ul.myuL {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  text-align: left;
  border: 3px solid #0E79B2;
  padding: 25px;
  border-radius: 25px
}

.myLinks {
	display: inline-flex;
	list-style: none;
	align: center;
}

.myLinks img {
	border-radius: 25px;
	margin-right: 40px;
}
